<footer class="flex flex-space-between">
	<div class="flex-space-between flex">
		<div class="flex">
			<div class="footer-col">
				<h3>CONTACT INFO</h3>
				<p>info@inhabitent.com</p>
				<p>778-3323-1112</p>
			</div>
<!-- contact info -->
			<div class="footer-col">
				<h3>BUSINESS HOURS</h3>
				<P>Monday-Friday: Never rest</P>
				<p>Saturday: 12:00am to 12:00pm</p>
				<p>Sunday: Wide Open, all food is free!</p>
			</div>
		</div>
<!-- business hours -->
		<div class="logo-text">
			<img src="../../../assets/images/logos/inhabitent-logo-text-dark.svg">
		</div>
	</div>
<!-- copyright -->
	<div class="copyright">
		COPYRIGHT &copy; 2016 INHABITENT
	</div>
	<div>
		<button>New Journal Post</button>
	</div>
</footer>
