<h1>INHABITENT JOURNAL</h1>
<div class="shopStuff flex">
	<div class="productType">
		<img src="../../../assets/images/blog-photos/warm-cocktail.jpg">
		<div class="flex">
			<p>14, April 2016 / </p> 
			<p> 3 comments</p>
		</div>
		<p>VAN CAMPING PHOTO CONTEST</p>
		<button>READ ENTRY</button>
	</div>

	<div class="productType">
		<img src="../../../assets/images/blog-photos/warm-cocktail.jpg">
		<div class="flex">
			<p>14, April 2016 / </p> 
			<p> 3 comments</p>
		</div>
		<p>VAN CAMPING PHOTO CONTEST</p>
		<button>READ ENTRY</button>
	</div>

	<div class="productType">
		<img src="../../../assets/images/blog-photos/warm-cocktail.jpg">
		<div class="flex">
			<p>14, April 2016 / </p> 
			<p> 3 comments</p>
		</div>
		<p>VAN CAMPING PHOTO CONTEST</p>
		<button>READ ENTRY</button>
	</div>

</div>