<!-- <head>
	
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.min.css" rel="stylesheet"  />
   
	
</head> -->

<h1>INHABITENT JOURNAL</h1>

<cohab-carousel class="carousel" [options]="{navigation: true, pagination: true, rewindNav : true,
    itemsDesktop: [1400, 4],
    itemsDesktopSmall: [1230, 3],   
    itemsTablet: [600, 2], 
    itemsMobile: [480, 1]}">

	<div *ngIf="journals">
		<div *ngFor = "let journal of journals | async" class="productType">
				<img src={{journal.image}}>
				<div class="flex">
					<p>{{journal.date}} / </p> 
					<p> 3 comments</p>
				</div>
				<p>{{journal.title}}</p>
				<button>READ ENTRY</button>
		</div>
	</div>

</cohab-carousel>



























