
.shopStuff {
	display: flex;
	text-align: center;
	justify-content: space-between;
	font-family: MerriweatherLight;
}



.productType {
  max-width: 23.5%;
	border: 1px solid #e1e1e1;
  border-top-width: 5px;
  padding: 0.75rem;
      box-sizing: border-box;;
}

h1 {
	text-align: center;
	font-family: fontAccentNormal;
}

img {
	width: 30%;
	height: 30%;
	display: block;
	margin: 0 auto;
}