<div class="productType-info container">
	<h1>SHOP STUFF</h1>
	<div class="shopStuff">
		<div class="productType">
			<img src="../../../assets/images/product-type-icons/do.svg">
			<p>Get back to nature with all the tools and toys you need to enjoy the great outdoors.</p>
			<p>
				<a class="btn" href="#">do stuff</a>
			</p>
		</div>

		<div class="productType">
			<img src="../../../assets/images/product-type-icons/eat.svg">
			<p>Nothing beats food cooked over a fire. We have all you need for food camping eats.</p>
			<p>
				<a class="btn" href="#">eat stuff</a>
			</p>
		</div>

		<div class="productType">
			<img src="../../../assets/images/product-type-icons/sleep.svg">
			<p>Get back to nature with all the tools and toys you need to enjoy the great outdoors.</p>
			<p>
				<a class="btn" href="#">sleep stuff</a>
			</p>
		</div>

		<div class="productType">
			<img src="../../../assets/images/product-type-icons/wear.svg">
			<p>From flannel shirts to toques, look the part while roughing it in the great outdoors.</p>
			<p>
				<a class="btn" href="#">wear stuff</a>
			</p>
		</div>
	</div>
</div>