<section class="adventures">
	<h2>LATEST ADVENTURES</h2>
	<ul class="clearfix">
		<li>
			<div class="storyWrapper">
				<img class="canoe-girl-img" src="../../../../assets/images/adventure-photos/canoe-girl.jpg">
				<div class="storyInfo">
					<h3>
						<a href="#">Getting back to Nature in a Canoe</a>
					</h3>
					<a class="btn" href="#">Read More</a>
				</div>
			</div>
		</li>

		<li>
			<div class="storyWrapper">
				<img class="bonfire-img" src="../../../../assets/images/adventure-photos/beach-bonfire.jpg">
				<div class="storyInfo">
					<h3>
						<a href="#">A Night with Friends at Beach</a>
					</h3>
					<a class="btn" href="#">Read More</a>
				</div>
			</div>
		</li>

		<li>
			<div class="storyWrapper">
				<img class="btm-img" src="../../../../assets/images/adventure-photos/mountain-hikers.jpg">
				<div class="storyInfo">
					<h3>
						<a href="#">Talking in the View at a Big Mountain</a>
					</h3>
					<a class="btn" href="#">Read More</a>
				</div>
			</div>
		</li>

		<li>
			<div class="storyWrapper">
				<img class="btm-img" src="../../../../assets/images/adventure-photos/night-sky.jpg">
				<div class="storyInfo">
					<h3>
						<a href="#">Star-Gazing at the Night Sky</a>
					</h3>
					<a class="btn" href="#">Read More</a>
				</div>
			</div>
		</li>
	</ul>
	<p>
		<a class="btn" href="#">More adventures</a>
	</p>	
</section>


