.adventures h2 {
	text-align: center;
	font-family: fontAccentNormal;
	font-size: 1.5rem;
	margin: 40px 0;
}

.adventures ul{
	list-style-type: none;
	padding-left: 0;
}

.adventures li:before {
	  content: "";
    float: left;
}

.adventures li {
	  float: left;
    position: relative;
    overflow: hidden;
}

.adventures li:first-child:before {
	padding-top: 100%;
}

.adventures li:first-child {
	border-right: 1vw solid white;
	width: 48%;	
}

.adventures li:first-child h3 {
	font-size: 3rem;
	line-height: 1.75;
}

.adventures li:nth-child(2):before {
	padding-top: calc(50% - 30px);
}

.adventures li:nth-child(2) {
	width: 50%;		
}

.adventures li:nth-child(2) h3 {
	font-size: 2.4rem;
	line-height: 1.75;
}

.adventures li:nth-child(3):before {
	padding-top: 100%;
}

.adventures li:nth-child(3){
	border-top: 8px solid white;
  border-right: 4px solid white;
	width: 24.5%;	
}

.adventures li:nth-child(3) h3 {
	font-size: 1.5rem;
	line-height: 1.2;
}

.adventures li:nth-child(3) img {
	top:63%;
	left:20%;
}

.adventures li:last-child:before{
padding-top: 100%
}

.adventures li:last-child{
	border: 8px solid white;
	width: 24.5%;	
}

.adventures li:last-child h3 {
	font-size: 1.5rem;
	line-height: 1.2;
}

.adventures .bonfire-img{
	top:100%;
}

.adventures img {
	left: 50%;
  max-height: 620px;
  max-width: none;
  position: absolute;
  top: 70%;
  -webkit-transform: translate(-50%,-75%);
  transform: translate(-50%,-75%);
  width: auto;
   filter: brightness(60%);
	}

.adventures .storyWrapper {
		bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.adventures .storyInfo {
		margin: 1.5rem;
	  position: absolute;
    z-index: 2;
}

.adventures .clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.adventures *, :after, :before {
    box-sizing: inherit;
}
