<h1>LATEST ADVENTURES</h1>
<div class="shopStuff">
	<div class="productType">
		<img src="../../../assets/images/product-type-icons/do.svg">
		<p>Get back to nature with all the tools and toys you need to enjoy the great outdoors</p>
		<button>DO STUFF</button>
	</div>

	<div class="productType">
		<img src="../../../assets/images/product-type-icons/do.svg">
		<p>Get back to nature with all the tools and toys you need to enjoy the great outdoors</p>
		<button>DO STUFF</button>
	</div>

	<div class="productType">
		<img src="../../../assets/images/product-type-icons/do.svg">
		<p>Get back to nature with all the tools and toys you need to enjoy the great outdoors</p>
		<button>DO STUFF</button>
	</div>

	<div class="productType">
		<img src="../../../assets/images/product-type-icons/do.svg">
		<p>Get back to nature with all the tools and toys you need to enjoy the great outdoors</p>
		<button>DO STUFF</button>
	</div>

</div>

