.flex {
	display: flex;
}

.flex-column{
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.journal-new .alert-danger {
	background-color: red;
	color: white;
}

.journal-new form{
	padding-top: 70px;
}

.journal-new label {
	line-height: 1.2rem;
}

.journal-new button {
	width:10%;
	margin-left: 5%;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
.journal-new button:hover {
  background-color: #cfd8dc;
}
.journal-new button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}