<section class="journal-entry">
<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<div id="main">
			<article>
				<header class="entry-header">

					<img src="{{(journal | async)?.image}}">
					<h1 class="entry-title">{{(journal | async)?.title}}</h1>
					<div class="entry-meta">
						<span class="posted-on">{{(journal | async)?.date}}</span>
						 / 
						<span class="comments-link">4 comments</span>
						 / 
						<span class="byline">{{(journal | async)?.author}} </span>
					</div>
				</header> <!--entry-header -->
				
				<div class="entry-content">
					<p>{{(journal | async)?.content}}</p>
					
				</div> <!--entry-content -->
				
				<footer class="entry-footer">
					<span class="cat-link">POSTED IN -> 
						<a href="#">CONTESTS</a>
					</span>
					<span class="tags-link">TAGGED ->
						<a href="#">PHOTOGRAPHY, VANS</a> 
					</span>
					<div class="social-btns">
						
						<button class="btn black-btn">
							<i class="fa fa-facebook"></i>
							Like
						</button>
						<button class="btn black-btn">
							<i class="fa fa-twitter"></i>
							Tweet
						</button>
						<button class="btn black-btn">
							<i class="fa fa-pinterest"></i>
							Pin
						</button>
						
					</div>
					
				</footer> <!--entry-footer -->
			</article>

			<div id="comment">
					<h3> 4 Comments</h3>
					<ol class="comment-list">
						
					</ol> <!--Comment Lists -->
					<div class="comment-respond">
						<h3 class="comment-reply-title">
							POST A COMMENT
						</h3>
						<form>
							<p>Want to join the discussion? Feel free to contribute!</p>
							<p class="comment-form-comment">
								<label for="comment">COMMENT</label>
								<textarea id="comment" cols="130" rows="20"></textarea>
							</p>

							<div class="requiredInfo">
								<p class="comment-form-name">
									<label class="commentLabel">name *</label>
									<input class="reqiredInput" type="text" name="author">
								</p>
								
								<p class="comment-form-email">
									<label class="commentLabel">email *</label>
									<input class="reqiredInput"type="text" name="email">
								</p>
							</div>	

							<p class="comment-form-url">
								<label class="commentLabel">website</label>
								<input class="url" type="text" name="url">
							</p>
							<p class="comment-form-submit">
								<input class="btn" type="submit" name="submit">
							</p>
						</form>

					</div> <!--Respond -->
			</div>  <!--Comment -->
			
		</div>
	</div> <!--primary -->
	
	<div id="secondary" class="widget-area">
		<aside class="widget-contact">
			<h3 class="widget-text">CONTACT</h3>
			<p><i class="fa fa-envelope"></i><a href="mailto:jeremyxu89@gmail.com">info@inhabitent.com</a></p>
			<p><i class="fa fa-phone"></i><a href="tel:1-647-570-0211">1-647-570-0211</a></p>
		</aside>
		<aside class="widget-biz">
			<h3 class="widget-title">BUSINESS HOURS</h3>
				<P><strong>Monday-Friday:</strong> Never rest</P>
				<p><strong>Saturday:</strong> 12:00am to 12:00pm</p>
				<p><strong>Sunday:</strong> Wide Open, all food is free!</p>
		</aside>
		<aside class="widget-archives">
			<h3 class="widget-title">ARCHIVES</h3>
		</aside>	
	</div> <!--secondary -->

</div>
</section>
