<div id="content" class="site-content">

	<div id="primary" class="content-area">
		<div id="main">
			<article>
				<header class="entry-header">

					<img src="{{(journal | async)?.image}}">
					<h1 class="entry-title">{{(journal | async)?.title}}</h1>
					<div class="entry-meta">
						<span class="posted-on">{{(journal | async)?.date}}</span>
						 / 
						<span class="comments-link">4 comments</span>
						 / 
						<span class="byline">{{(journal | async)?.author}} </span>
					</div>
				</header> <!--entry-header -->
				
				<div class="entry-content">
					<p>Some Contents</p>
					<p>Some Contents</p>
				</div> <!--entry-content -->
				
				<footer class="entry-footer">
					<span class="category-link">POSTED IN -> 
						<a href="#">CONTESTS</a>
					</span>
					<span class="tags-link">TAGGED ->
						<a href="#">PHOTOGRAPHY, VANS</a> 
					</span>
					<div class="social-btns">
						
						<button>
							<i class="fa fa-facebook"></i>
							Like
						</button>
						<button>
							<i class="fa fa-twitter"></i>
							Tweet
						</button>
						<button>
							<i class="fa fa-pinterest"></i>
							Pin
						</button>
						
					</div>
					
				</footer> <!--entry-footer -->
			</article>

			<div id="comment">
					<h3> 4 Comments</h3>
					<ol class="comment-list">
						
					</ol> <!--Comment Lists -->
					<div class="comment-respond">
						<h3 class="comment-reply-title">
							POST A COMMENT
						</h3>
						<form>
							<p>Want to join the discussion? Feel free to contribute!</p>
							<p class="comment-form-comment">
								<label for="comment"></label>
								<textarea id="comment" cols="150" rows="20"></textarea>
							</p>
							<p class="comment-form-name"></p>
							<p class="comment-form-email"></p>
							<p class="comment-form-url"></p>
							<p class="comment-form-submit"></p>
						</form>

					</div> <!--Respond -->
			</div>  <!--Comment -->
			
		</div>
	</div> <!--primary -->
	
	<div id="secondary" class="widget-area">
		<aside class="widget-contact">
			<h2 class="widget-text">CONTACT</h2>
		</aside>
		<aside class="widget-biz">
			<h2 class="widget-title">BUSINESS HOURS</h2>
		</aside>
		<aside class="widget-archives">
			<h2 class="widget-title">ARCHIVES</h2>
		</aside>
		
	</div> <!--secondary -->

</div>

