.journal-entry h3 {
	font-size: 1.5rem;
	font-family: fontAccentBold;	
}

.journal-entry i {
	margin-right: 10px;
}

.journal-entry .site-content{
	display: flex;
	padding-top: 72px;
}

.journal-entry .content-area {
	padding: 3%;
	width: 67%;
	border-top: 3px solid #e1e1e1;
}

.journal-entry .widget-area {
	padding-left: 2%;
	width: 27%;
	float: right;
	border-top: 3px solid #e1e1e1;
	border-left: 3px solid #e1e1e1;
}

.journal-entry .entry-header {
	position: relative;
	width: 94%;
}

.journal-entry .entry-title {
		background-color: #248a83;
		color: white;
		position: absolute;
		top: 0;
}

.journal-entry .entry-meta {
	background-color: #248a83;
	color: white;
	position: absolute;
	bottom: 13px;
	right: 4px;
}

.journal-entry .entry-content {
	margin: 5vh 0;
}

.journal-entry .cat-link,.tags-link {
font-family: MerriweatherBold;	
margin: 10px;
} 

.journal-entry .cat-link {
	margin-left: 0;
}

.journal-entry .social-btns {
	margin: 10px 0;
}

.journal-entry .posted-on,.comments-link {
	font-family: MerriweatherBold;
}

.journal-entry h1 {
	font-family: Novecento Sans Web,sans-serif;
	text-transform: uppercase;
}

.journal-entry img {
	width: 100%;
}

.journal-entry a {
	color: #248a83;
	text-decoration: none;
	cursor: pointer;
}

.journal-entry input,textarea{
	color: #666;
  background-color: #f4f4f4;
  border: 1px solid #e1e1e1;
  border-radius: 0;
}












