/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: fontAccentNormal;
	src: url(assets/fonts/Novecento/Novecentosanswide-Normal.ttf);
}

@font-face {
	font-family: fontAccentBold;
	src: url(assets/fonts/Novecento/Novecentosanswide-DemiBold.ttf);
}

@font-face {
	font-family:MerriweatherLight;
	src: url(assets/fonts/Merriweather/Merriweather-Light.ttf);
}

html {
	line-height: 1.75rem;
	box-sizing: border-box;
}

.btn{
		background: #248a83;
    color: #fff;
    cursor: pointer; 
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

